[phases.build]
cmds = [
    "composer install --no-dev --optimize-autoloader",
    "npm install",
    "npm run build",
    "php artisan config:cache",
    "php artisan route:cache",
    "php artisan view:cache"
]

[phases.start]
cmd = "php -d display_errors=off -S 0.0.0.0:${PORT:-8080} -t public/"
